﻿@model SimpleCalculator.Models.Calc
@{
    ViewBag.Title = "Index";
}
<h2>Simple Calculator</h2>

@using (Html.BeginForm("/Index", "calc", FormMethod.Post))
{
    @Html.Label("Enter 1st number:")
    <br />
    @Html.EditorFor(x => x.firstNumber)
    <br />
    <br />
    @Html.Label("Enter 2nd Number:")
    <br />
    @Html.EditorFor(x => x.secondNumber)
    <br />
    <br />

    <button type="submit" class="btn btn-info" id="add" value="add" name="calculate">+</button>
    <button type="submit" class="btn btn-info" id="sub" value="sub" name="calculate">-</button>
    <button type="submit" class="btn btn-info" id="mul" value="mul" name="calculate">*</button>
    <button type="submit" class="btn btn-info" id="div" value="div" name="calculate">/</button>
    <h2 style="color:red">
        @Html.Label("Result is :")
        @Html.DisplayFor(x => x.answer)
    </h2>

}







